:root {
    --primary-color: #17e0d6e7;
    --secondary-color: #bed;
    --font-family-text: 'Lato', sans-serif;
}

body {
    font-family: var(--font-family-text);
}


/*Header*/
header {
    display: grid;
    grid-template-columns: 1fr 5fr 3fr;
    background-color: black;
    color: white;
}

.titleImage {
    margin: 20px 10px 20px 70px;
    align-items: center;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    width: 60%;

}

header h1 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    margin-top: 35px;

}

header h4 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    margin-top: -35px;
}

.menu-toggle {
    display: none;
    background-color: black;
    color: white;
    border: none;
    margin: 0 auto;
    font-size: 30px;
    height: 45px;
    align-items: center;
    cursor: pointer;
}

nav {
    display: flex;
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    margin-top: -35px;
}

nav a:hover {
    background-color: var(--primary-color);
    color: black;
}

nav a {
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 10px;
    font-size: 20px;
}


/*Main*/
main {
    width: 80%;
	margin: 0 auto;
	padding: 0.5rem;
	background-color: white;
}

.companyFilter {
	margin: 1rem auto;
	padding: 0.5rem;
	text-align: center;
}

.companyFilter button {
    margin: 0 20px;
	padding: 1rem;
	font-size: 30px;
    border-radius: 10px;
    border-color: white;
    color: white;
    background-color: black;
}

hr {
    margin-bottom: 20px;
}

section {
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 0.5rem;
	background-color: white;
    margin: 0 auto;
}

.grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 20px;
	align-items: center;
}

.grid section {
	text-align: center;
    width: 80%;
    height: 90%;
}

.grid section > * {
	margin: 0.1rem;
}

section {    
	box-shadow: 0 0 10px black;
}

.grid h3 {
	font-family: "Caveat", cursive;
}

.list {
	display: flex;
	flex-direction: column;
}

.list section {
	display: grid;
	grid-template-columns: 2fr 1fr 1fr;
	margin: 0;
	padding: 0.25rem;
    box-shadow: none;
}

.list section > * {
	margin: 0 1rem;
}

.list section img {
	display: none;
}

.list section h3 {
	font-size: 1rem;
}

.list section:nth-child(even) {
	background-color: var(--secondary-color);
}

section h3 {
	font-size: 1.5rem;
}

section p {
	font-weight: 600;
	font-size: smaller;
}

section a {
	font-size: 0.85rem;
	color: navy;
	letter-spacing: 1.1pt;
}

article img {
	height: 75px;
	max-width: 100%;
}


/*Footer*/
.social img {
    border-radius: 15px;
    width: 70px;
}

.social a {
    margin: 0 25px;
    align-items: center;
}

footer {
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    background-color: var(--primary-color);
    align-items: center;
    color: black;
    font-size: 15px;
    margin: 20px 0;
}

footer div {
    margin: 0 auto;
    padding: 10px;
}
